{% extends "layout.html.twig" %}

{% block main %}
    <h2 class="title">Communautés à Montpellier</h2>
    <h4 class="subtitle">
        Ce site agrège différents groupes <a href="https://www.meetup.com/" target="_blank">Meetup.com</a> de Montpellier.
    </h4>
    <hr>
    <br>
    {% for group_row in groups | batch(3) %}
        <div class="columns">
        {% for group in group_row %}
            <article class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <h3 class="title is-4"><a href="{{ group.link }}">{{ group.name }}</a></h3>
                        <div class="content">
                            <p>{{ group.description }}</p>
                            <p>
                                <small>
                                    <strong>{{ group.numberOfEvents }}</strong> événement(s),
                                    créé {{ group.createdAt | time_diff | lower }}
                                </small>
                            </p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            Dernier événement<br>{{ group.lastEvent ? (group.lastEvent | time_diff | lower) : 'aucun' }}
                        </p>
                        <p class="card-footer-item">
                            Prochain événement<br>
                            {% if group.nextEvent %}<strong>{{ group.nextEvent | time_diff | lower }}</strong>{% else %}aucun{% endif %}
                        </p>
                    </footer>
                </div>
            </article>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
