{% extends "layout.html.twig" %}

{% block main %}
    <section class="box features">
        {% for group in groups %}
            {% if loop.index is odd %}<div class="features-row">{% endif %}

            <section>
                <h3><a href="{{ group.link }}">{{ group.name }}</a></h3>
                <p>{{ group.description }}</p>
                <p>
                    <strong>{{ group.numberOfEvents }}</strong> événement(s),
                    groupe créé {{ group.createdAt | time_diff | lower }}.
                </p>
                <p>
                    {% if group.lastEvent %}
                    Dernier événement {{ group.lastEvent | time_diff | lower }}
                    <br>
                    {% endif %}
                    {% if group.nextEvent %}
                    Prochain événement {{ group.nextEvent | time_diff | lower }}
                    {% endif %}
                </p>
            </section>

            {% if loop.index is even %}</div>{% endif %}
        {% endfor %}
    </section>
{% endblock %}
