{% extends "layout.html.twig" %}

{% block main %}
    {% for event_per_month in calendar %}
        <header>
            <h3>
                {{ event_per_month.month | localizeddate('none', 'none', 'fr', null, 'MMMM YYYY') | capitalize }}
                <small>({{ event_per_month | length }} meetups)</small>
            </h3>
        </header>
        <hr>
        <ul class="events-per-month alt">
            {% for event in event_per_month %}
            <li class="row">
                <header class="5u 12u(mobilep) row">
                    <div class="4u 12u(mobilep) event-date">
                        {{ event.weekDay }}<br>
                        <strong class="day">{{ event.day }}</strong><br>
                        <span>{{ event.month }} {{ event.year }}</span>
                        <strong>{{ event.hour }}</strong><br>
                    </div>

                    <div class="8u 12u(mobilep)">
                        <h3>
                            <a href="{{ event.link }}" target="_blank">
                                <strong>{{ event.name }}</strong>
                            </a>
                        </h3>
                        <h4>
                            <a href="{{ event.groupLink }}">
                                <strong>{{ event.groupName }}</strong>
                            </a>
                        </h4>
                    </div>
                </header>

                <div class="7u 12u(mobilep)">
                    <blockquote>
                        {{ event.description | striptags | slice(0, 400) }}...
                    </blockquote>

                    {% if event.venueName %}
                        <p>
                            <a href="{{ event.link }}" target="_blank">
                                {{ event.venueName }}
                            </a><br>
                            {{ event.venueAddress }}, {{ event.venueCity }}
                        </p>
                    {% endif %}

                    <div class="row">
                        <div class="3u 12u(mobilep)">
                            <p>
                                <a href="{{ event.link }}" class="button special small" target="_blank">
                                    J'y vais !
                                </a>
                            </p>
                        </div>
                        <p class="9u 12u(mobilep)">
                            {{ event.numberOfMembers }} inscrit(s)
                            {% if event.limitOfMembers %}
                                (max : {{ event.limitOfMembers }})
                            {% endif %}
                        </p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
