<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>TechMeetups - L'agenda des meetups du numérique à Montpellier</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/icomoon.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
        <link rel="alternate" type="application/rss+xml" href="/montpellier.rss" title="Flux RSS des meetups de Montpellier">
        <link rel="alternate" type="application/atom+xml" href="/montpellier.atom" title="Flux Atom des meetups de Montpellier">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-83859-4', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
	<body class="landing">

		<a href="https://github.com/jeremyb/techmeetups">
			<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
		</a>

		<div id="page-wrapper">

			<section id="banner">
				<h2>
                    <a href="{{ path('homepage') }}">
                        TechMeetups
                    </a>
                </h2>
				<p>L'agenda des meetups du numérique à Montpellier.</p>
				<ul class="actions">
					<li>
                        <a href="#cta" class="button special">
                            S'abonner à la newsletter
                        </a>
                    </li>
                    <li>
                        <a href="#footer" class="button">
                            A propos
                        </a>
                    </li>
				</ul>
			</section>

			<section id="main" class="container">
                <section class="box">
                    <section class="special">
                        <h2>Prochains meetups à Montpellier</h2>
                        <p>
                            Ce site agrège les meetups des différents groupes
                            <a href="https://www.meetup.com/" target="_blank">Meetup.com</a>
                            de Montpellier.<br>
                            Si le vôtre est manquant, n'hésitez à créer une
                            <a href="https://github.com/jeremyb/techmeetups/issues" target="_blank">issue sur Github</a>.
                        </p>

                        {% set current_route = app.request.attributes.get('_route') %}
                        <ul class="actions">
                            <li>
                                <a href="{{ path('homepage') }}#main"{% if current_route == 'homepage' %} class="current"{% endif %}>
                                    Prochains événements
                                </a>
                            </li>
                            <li>-</li>
                            <li>
                                <a href="{{ path('stats') }}#main"{% if current_route == 'stats' %} class="current"{% endif %}>
                                    Statistiques
                                </a>
                            </li>
                        </ul>
                    </section>

                    {% block main %}{% endblock %}
                </section>
			</section>

			<section id="cta">
				<h2>S'abonner à la newsletter</h2>
				<p>
                    Pour ne plus rater les prochains meetups de Montpellier,
                    inscrivez-vous à la newsletter :
                </p>
                <div id="mc_embed_signup">
                    <form action="//test.us7.list-manage.com/subscribe/post?u=0e9908af2ac6112997ebb96df&amp;id=77d16b689f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="row uniform 50%">
                            <div class="mc-field-group 8u 12u(mobilep)">
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0e9908af2ac6112997ebb96df_77d16b689f" tabindex="-1" value=""></div>
                            <div class="4u 12u(mobilep)">
                                <input type="submit" value="Je m'inscris !" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                        </div>
                    </form>
                </div>
			</section>

			<footer id="footer">
                <h3>A propos</h3>
                <p>
                    L'objectif de ce site est de vous permettre de découvrir les
                    différents meetups et événements organisés à Montpellier.<br>
                    Et si vous les connaissez déjà, de ne plus rater les prochains
                    grâce aux flux RSS/Atom et iCal présents ci-dessous.
                </p>
                <p>
                    Ce site agrège les meetups des différents groupes
                    <a href="https://www.meetup.com/" target="_blank">Meetup.com</a>
                    de Montpellier.<br>
                    Si le vôtre est manquant, n'hésitez à créer une
                    <a href="https://github.com/jeremyb/techmeetups/issues" target="_blank">issue sur Github</a>.
                </p>
                <p>
                    Si vous êtes intéressé par les Communautés Montpelliéraines
                    n'hésitez pas à
                    <a href="https://comm-montpellier-invit.herokuapp.com/" target="_blank">
                        rejoindre le Slack
                    </a>.
                </p>
				<ul class="icons">
                    <li>
                        <a href="{{ url('feed_mtp', { _format: 'rss' }) }}" target="_blank">
                            <span class="icon-rss_feed"></span> RSS
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('feed_mtp', { _format: 'atom' }) }}" target="_blank">
                            <span class="icon-rss_feed"></span> Atom
                        </a>
                    </li>
                    <li>
                        <a href="webcal:{{ url('ical_mtp', {}, true) }}">
                            <span class="icon-date_range"></span> iCal
                        </a>
                    </li>
				</ul>
				<ul class="copyright">
					<li>
                        Design :
                        <a href="http://html5up.net" target="_blank">HTML5 UP</a>
                    </li>
				</ul>
			</footer>

		</div>

	</body>
</html>
