{% extends "layout.html.twig" %}

{% block main %}
    <h2 class="title">Statistiques</h2>
    <h4 class="subtitle">
        TechMeetups recense <strong>{{ stats.number_of_events }}</strong> meetups à Montpellier avec
        en moyenne {{ stats.average_registrations | round }} inscriptions.
    </h4>
    <hr>
    <br>
    <div class="columns">
        <div class="column">
            <div id="events-per-year-chart"></div>
        </div>
        <div class="column">
            <div id="events-per-month-chart"></div>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th colspan="2" class="has-text-centered">
                            Meetups avec le plus d'inscrits
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in stats.popular_events %}
                        <tr>
                            <td>
                                <a href="{{ event.link }}" target="_blank">
                                    <strong>{{ event.name }}</strong>
                                </a>
                            </td>
                            <td class="align-center"><strong>{{ event.number_of_members }}</strong></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th colspan="4" class="has-text-centered">
                            Groupes organisateur de plus de meetups
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in stats.popular_groups %}
                        <tr>
                            <td>{{ group.name }}</td>
                            <td class="align-center"><strong>{{ group.total_events }}</strong></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(function () {
            var eventsPerYear = google.visualization.arrayToDataTable([
                ['Year', 'Meetups'],
                {% for eventsPerYear in stats.number_of_events_per_year %}
                ['{{ eventsPerYear.year }}', {{ eventsPerYear.total_events }}],
                {% endfor %}
            ]);

            var eventsPerYearChart = new google.visualization.ColumnChart(
                document.getElementById('events-per-year-chart')
            );
            eventsPerYearChart.draw(eventsPerYear, {
                title: 'Nombre de meetups par an',
                titlePosition: 'out',
                titleTextStyle: {
                    fontSize: 16,
                    bold: false
                },
                height: 400,
                legend: { position: 'none' }
            });

            var eventsPerMonth = google.visualization.arrayToDataTable([
                ['Year', 'Meetups'],
                {% for eventsPerMonth in stats.number_of_events_per_month %}
                ['{{ eventsPerMonth.date | localizeddate('none', 'none', 'fr', null, 'LLL y') }}', {{ eventsPerMonth.total_events }}],
                {% endfor %}
            ]);

            var eventsPerMonthChart = new google.visualization.AreaChart(
                document.getElementById('events-per-month-chart')
            );
            eventsPerMonthChart.draw(eventsPerMonth, {
                title: 'Nombre de meetups par mois',
                titlePosition: 'out',
                titleTextStyle: {
                    fontSize: 16,
                    bold: false
                },
                height: 400,
                hAxis: {
                    slantedText: true,
                    slantedTextAngle: -90
                },
                legend: { position: 'none' }
            });
        });
    </script>
{% endblock %}
